<div class="container">
  <% @blog_posts.each do |blog_post| %>
    <div class="blog-post-container">
      <header>
        <a href="<%= "/blog_posts/#{blog_post.id}" %>"><h1 class="title"><%= blog_post.title %></h1></a>
        <p class="date"><%= blog_post.created_at.strftime("%B") %> <%= blog_post.created_at.strftime("%d") %>, <%= blog_post.created_at.strftime("%Y") %></p>
      </header>
      <figure>
        <img src="<%= blog_post.image_url %>" alt="" />
        <figcaption><%= blog_post.image_description %></figcaption>
      </figure>

      <div class="body">
        <%= blog_post.body.html_safe %>
      </div>
    </div>
  <% end %>
</div>
